html, body {
    font-family: 'Roboto', sans-serif;;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
  }

/* background colors */

.background-blue {
    background-color: #aeced0;
}

/* fonts */

.logo-font {
    font-family: 'Sacramento', cursive !important;
    font-size: 300%;
}

h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
}

p, a, button {
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 400;
}

.big-icons {
    font-size: 400%;
}


/* navbar */

.navalert-container {
    position: relative;
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
    z-index: 1;
}

.navbar {
    margin-bottom: 0;
    border: 0;
    width: 100%;
    background-color: #aeced0;
    height: 10vh;
}

.navbar-brand {
    font-weight: bold;
}

.navbar .navbar-nav a {
    font-weight: bold;
}

.alert-container .col-12 {
    padding-left: 0;
    padding-right: 0;
}

.site-wide-alert {
    border-radius: 0;
    margin-bottom: 0;
    padding: 5px 15px;
    background-color: #fafafa;
    border-color: #fafafa;
}

.callout-container {
    height: 100vh;
    background: url('../images/kensingtonstrings-31.jpg') no-repeat bottom center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.opaque-overlay {
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.3);
}

.jumbotron {
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    padding: 5rem;
    margin-top: 25vh; /* Adjust this value based on your design */
}

/* Block Dividers */

.block-divider {
    width: 75px;
    height: 5px;
    border: 0;
    background-color: red;
}


/* Jumbotron */

.jumbotron-header {
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
}

/* .jumbotron {
    position: relative;
    z-index: 1;
} */

/* about */

.image-banner {
    position: relative;
    text-align: center; /* Center the image */
    overflow: hidden; /* Hide overflow if the image exceeds container width */
}

.image-banner img {
    width: 100%; /* Set image width to fill the container */
    height: 550px; /* Maintain aspect ratio */
    display: block; /* Remove default inline display */
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
    object-fit: cover;
}

/* Gallery */

#photos {
    clear: both;
    line-height: 0;
    column-count: 1;
    column-gap: 0px;
}

#photos img {
    width: 100%
}
/* sm screens and up */
@media screen and (min-width: 576px){ 
    #photos{
        column-count: 1;
    }
}
/* md screens and up */
@media screen and (min-width: 768px){
    #photos{
        column-count: 2;
    }
}
/* lg screens and up */
@media screen and (min-width: 992px){
    #photos{
        column-count: 3;
    }
}

/* Contact */

.form-section {
    background: url("../images/kensingtonstrings-33.jpg") no-repeat center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-attachment: scroll;
    
    align-items: center;
    justify-content: center;
    position: relative;
    flex: 1 0 auto;

}

@media (min-width: 1000px) { /* This a workaround to get the background image to look nice on iOS. Background scroll is not compatible. Scroll functionality sacrificed for a background img that will cover the entire background. Solution suggested by tutor Ed.*/
    .form-section {
        background: url("../images/kensingtonstrings-33.jpg") no-repeat center fixed; 
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            background-attachment: fixed;
        
        align-items: center;
        justify-content: center;
        position: relative;
        flex: 1 0 auto;
    
    }
}

.contact-form {
    
    color: #fff;
    background-color: rgba(60,60,60,0.6);
    max-width: 440px;
    position: relative;
    padding: 30px;
    left: 10%
    
}

@media screen and (max-width:510px) {   /* centers contact form div on small screens only (428px is iphone pro max screen width)*/
    
    .contact-form {
        color: #fff;
        background-color: rgba(60,60,60,0.6);
        max-width: 440px;
        position: relative;
        padding: 30px;
        left: 0%;
    }
}

.contact-radio {
    display: block;
}

.contact-form h1 {
    color: #fafafa;
    margin-bottom: 20px;
}

.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 30px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

.text-input-msg {
    background: transparent;
    color: #fafafa;
    width: 100%;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
    
}
/* placeholder css from https://www.w3schools.com/howto/howto_css_placeholder.asp */
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #fafafa;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #fafafa;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: #fafafa;
  }

  .msg-send-btn {
    margin-top: 10px;
    border-radius: 10px;
    padding: 10px 22px 10px 22px;
    text-align: center;
    font-size: 100%;
    background-color: #b0b5a5;
    color: #000000;
    display: block;
  }

  .msg-send-btn:hover {
    background-color: #8296ba;
    color: #000000;
}

/* Repertoire */

#rock-pop-list,
#classical-list,
#film-list,
#jazz-list,
#traditional-list {
    list-style-type: none; /* Remove bullets */
    padding: 0;
}

/* footer */

.footer {
    background-color: #aeced0;
  }
  