/* HTML AND BODY */

html {
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
  }


/* BACKGROUND COLORS */

.background-blue {
    background-color: #aeced0;
}

.bg-off-white {
    background-color: #fafafa;
}

/* FONTS */

.logo-font {
    font-family: 'Sacramento', cursive !important;
    font-size: 300%;
}

.font-montserrat {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
}

p, a, button {
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 400;
}

.big-icons {
    font-size: 400%;
    height: 100px;
}

.big-icons i {
    display: block;
    margin: 0 auto;
} 

/* BUTTONS */

.btn-primary {
    background-color: #fafafa;
    border-radius: 0;
    border-color: #000;
    border-width: 2px;
    color: #000;
}

.btn-primary:hover {
    background-color: #183537;
    border-radius: 0;
    border-color: #000000;
    border-width: 0;
    color: #fafafa;
}

.btn-success {
    background-color: #fafafa;
    border-radius: 0;
    border-color: #000;
    border-width: 2px;
    color: #000000;
}

.btn-success:hover {
    background-color: #183537;
    border-radius: 0;
    border-color: #fafafa;
    border-width: 2px;
    color: #fafafa
;
}

/* NAVBAR */

.nav-toggler {
    padding-right: 20px !important;
}

.active {
    text-decoration: underline;
}

.navbar-dark .navbar-toggler {
    color: rgb(255 255 255);
    border-color: rgb(255 255 255);
}

.navalert-container {
    position: relative;
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
    z-index: 1;
}

.navbar {
    position: absolute;
    width: 100%;
    background-color: #0000007d;
    transition: background-color 0.5s ease;
}


.navbar-home { /* transparent nav bar originally applied to home page. Now site wide */
    background-color: #0000007d;
    transition: background-color 0.5s ease;
    position: absolute; 
    width: 100%;
    z-index: 10;
}

.navbar-home.opaque-background {
    background-color: #333333; /* Change to your desired color */
}

.nav-link {
    padding-left: 5px !important;
}

.navbar-nav .nav-link {
    font-weight: 300; /* or use another value like 600, 700, etc. */
}

/* HOME PAGE */

.alert-container .col-12 {
    padding-left: 0;
    padding-right: 0;
}

.site-wide-alert {
    border-radius: 0;
    margin-bottom: 0;
    padding: 5px 15px;
    background-color: #fafafa;
    border-color: #fafafa;
}

.callout-container {
    height: 100vh;
    background: url('../images/serenade-strings-31.webp') no-repeat bottom center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}


@media (max-width: 1000px) { /* This a workaround to get the background image to look nice on iOS. Background scroll is not compatible. Scroll functionality sacrificed for a background img that will cover the entire background. Solution suggested by tutor Ed.*/
    .callout-container {
        background: url("../images/serenade-strings-2.webp") no-repeat center fixed; 
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            background-attachment: scroll !important;
        
        align-items: center;
        justify-content: center;
        position: relative;
        flex: 1 0 auto;
    
    }
}

.jumbotron {
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    padding: 2.5rem;
    background-color: #0000005e;
    margin-bottom: 20px;
}

.jumbotron.remove-background {
    background-color: transparent !important;
    z-index: 0;
}

.in-brief-list {
    list-style: none;
    padding-left: 0;
}

.review-bg {
    height: 40vh;
    background: url('../images/serenade-strings-1-small.webp');
    background-position: center 20%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0;
    padding-right: 0;
    
}

@media screen and (max-width: 576px) {
    .review-bg {
        height: 50vh;
        background: url('../images/serenade-strings-1-small.webp');
        background-position: center 20%;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 0;
        padding-right: 0;
        
    }
}

.overlay {
    float: left;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    
    
}

.review-row {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

#prevBtn,
#nextBtn {
    font-size: 1.5rem;
    background-color: transparent;
    border: none;
}

#prevBtn:hover,
#nextBtn:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.review-title {
    font-weight: 400;
}


.jumbotron-header {
    color: white;
}

.img-thumbnail {
    width: 100px; /* Adjust the width as needed */
    height: 55px; /* Adjust the height as needed */
    object-fit: cover; /* Apply crop to the top and bottom */
    border: 0;
    padding: 0;
    border-radius: 0;
}

.play-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
    color: #2e2e2e;
    z-index: 2;
}

.video-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}

.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

.custom-list-item {
    background-color: #f0f0f0; /* Light grey background color */
    cursor: pointer; /* Add cursor pointer to indicate clickable */
    transition: background-color 0.3s; /* Add transition for smooth color change */
}

.custom-list-item:hover {
    background-color: #e0e0e0; /* Lighter grey background color on hover */
}

.custom-list-item.selected-video {
    background-color: #333; /* Darker background color for the selected video */
    color: #fff; /* Text color on the darker background */
}


.border-bottom {
    border-bottom: 1px solid #ddd; /* Solid border color (light grey) */
}



/* ABOUT PAGE */

.image-banner {
    position: relative;
    text-align: center; /* Center the image */
    overflow: hidden; /* Hide overflow if the image exceeds container width */
}

.image-banner img {
    width: 100%; /* Set image width to fill the container */
    height: 550px; /* Maintain aspect ratio */
    display: block; /* Remove default inline display */
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
    object-fit: cover;
}


/* FAQS PAGE */

#faq-banner {
    background-image: url('/assets/images/violin.webp'); /* Replace 'your-banner-image.jpg' with the actual path to your banner image */
    background-size: cover; /* Cover the entire container with the background image */
    background-position: center; /* Center the background image */
    height: 98px; /* Calculate the height to cover the remaining viewport height after subtracting the navigation bar height */
    position: relative; /* Ensure proper positioning within the layout */
    z-index: -1; /* Place the banner behind other elements (e.g., navigation bar) */
    display: flex;
    flex-direction: column;
    justify-content: flex-end; 
}

.faq-hr {
    margin-top: 0;
}

/* GALLERY PAGE */

#gallery-banner {
    background-image: url('/assets/images/violin.webp'); /* Replace 'your-banner-image.jpg' with the actual path to your banner image */
    background-size: cover; /* Cover the entire container with the background image */
    background-position: center; /* Center the background image */
    height: 98px; /* Calculate the height to cover the remaining viewport height after subtracting the navigation bar height */
    position: relative; /* Ensure proper positioning within the layout */
    z-index: -1; /* Place the banner behind other elements (e.g., navigation bar) */
    display: flex;
    flex-direction: column;
    justify-content: flex-end; 
}

#gallery-banner h1 {
    color: black; /* Text color */
    text-align: center; /* Center the text */
    padding-top: 20px; /* Add padding to the top of the content within the banner */
    margin-bottom: 20px;
}

#photos {
    clear: both;
    line-height: 0;
    column-count: 1;
    column-gap: 0px;
}

#photos img {
    width: 100%
}
/* sm screens and up */
@media screen and (min-width: 576px){ 
    #photos{
        column-count: 1;
    }
}
/* md screens and up */
@media screen and (min-width: 768px){
    #photos{
        column-count: 2;
    }
}
/* lg screens and up */
@media screen and (min-width: 992px){
    #photos{
        column-count: 3;
    }
}

/* REPERTOIRE PAGE */

#repertoire-banner {
    background-image: url('/assets/images/violin.webp');
    background-size: cover; /* Cover the entire container with the background image */
    background-position: center; /* Center the background image */
    height: 98px; /* Calculate the height to cover the remaining viewport height after subtracting the navigation bar height */
    position: relative; /* Ensure proper positioning within the layout */
    z-index: -1; /* Place the banner behind other elements (e.g., navigation bar) */
    display: flex;
    flex-direction: column;
    justify-content: flex-end; 
}

#repertoire-banner h1 {
    color: black; /* Text color */
    text-align: center; /* Center the text */
    padding-top: 20px; /* Add padding to the top of the content within the banner */
    margin-bottom: 20px;
}

#rock-pop-list,
#classical-list,
#film-list,
#jazz-list,
#traditional-list,
#tango-list {
    list-style-type: none; /* Remove bullets */
    padding: 0;
}

/* CONTACT PAGE */


.contact-img {
    /* background: url('/assets/images/serenade-strings-34.webp') no-repeat bottom center fixed; */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#contact {
    height: 100%;
    background: url('/assets/images/serenade-strings-34.webp') no-repeat center top fixed;
    
    background-size: cover;
    
}


.contact-form {
    
    
    background-color: #00000067;
    margin-top: 140px;
    padding-bottom: 20px;
    
}



.contact-radio {
    display: block;
}


.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 30px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

.text-input-msg {
    background: transparent;
    color: #fafafa;
    width: 100%;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
    
}
/* placeholder css from https://www.w3schools.com/howto/howto_css_placeholder.asp */
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #fafafa;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #fafafa;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: #fafafa;
  }

  .msg-send-btn {
    margin-top: 10px;
    border-radius: 10px;
    padding: 10px 22px 10px 22px;
    text-align: center;
    font-size: 100%;
    background-color: #b0b5a5;
    color: #000000;
    display: block;
  }

  .msg-send-btn:hover {
    background-color: #8296ba;
    color: #000000;
}

/* FOOTER */

.footer {
    background-color: #fafafa;
  }

.footer-menu {
    text-decoration: none;
}

.footer-icon-list {
    list-style: none;
    padding-left: 0;
    
}

.footer-icon-list a {
    text-decoration: none !important;
    color: #000000;
}
  